* {
    font-family: 'roboto' sans-serif;
}

body {
    width: 50%;
    /* height: 100vh; */
    margin-left: 350px !important;
}

.reset_content {
    width: 50%;
    height: auto;
    background-color: white;
    box-shadow: 2px 0 5.5px 0.5px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: 100px;
}

#reset .form-control {
    color: #A0A0A0;
    border: 1px solid #C8C8C8;
}

#reset.form-group {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 12px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
}

.reset {
    color: white;
    font-weight: bold;
    text-align: center;
    background: #1d7a8c;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 155px;
    height: 40px;
    border-radius: 20px;
}

#middle {
    /* text-align: center; */
    margin-top: 200px;
    padding-top: 10px;
}

    #middle h2 {
        color: #4F4F4F;
        font-size: 30px;
        font-weight: bold;
    }

#reset_password {
    margin-bottom: 11%;
    color: #4f4f4f;
}

    #reset_password form {
        max-width: 650px;
        margin: auto;
    }


    #reset_password .row {
        margin: 8px;
    }

#middle {
    box-shadow: 2px 0 5.5px 0.5px rgba(0, 0, 0, 0.2);
}
