* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}


/*navbar*/
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -31px;
    margin-top: .125rem;
}
nav {
    background-color: #525252;
}

.navbar-brand img {
    width: 73px;
    height: 50px;
}

#navbarCollapse {
    justify-content: right;
}

.navbar-nav a {
    padding: 10px 20px !important;
    font-size: 17px;
    font-weight: normal;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    margin: 0px 6px;
}

#book-now {
    background: #29626D;
    color: #ffffff;
    border: 1px solid #FFFFFF80;
    border-radius: 22px;
}

.notification-bell {
    height: 32px;
    width: 29px;
    cursor: pointer;
    position: absolute;
}

.notification-no {
    position: relative;
    border-radius: 106%;
    background: red;
    color: white;
    padding: 1px 5px;
    top: -7px;
    right: -15px;
}

.vrline {
    height: 48px;
    width: 1px;
    background-color: white;
}

.user_menu {
    display: inline;
}

    .user_menu button {
        background: none;
    }

.dropdown-menu {
    background: white !important;
    color: black;
}

.user_menu .dropdown-menu {
    min-width: 0px !important;
}

.user_menu img {
    padding-left: 5px;
}


.ddmenu img {
    border: o.5px solid #FFFFFF;
    background-color: #FFFFFF;
}

.menu:hover {
    border: 1px solid #FFFFFF80;
    border-radius: 22px;
    color: #ffffff;
}

/*welocome-Gaurang*/
.welcome-Gaurang {
    padding: 44px 0px;
    background: #f9f9f9;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
}

    .welcome-Gaurang h2 {
        font-size: 30px;
        color: #4f4f4f;
    }

/*middle code*/


/*dashboard tab*/
.db-heading {
    font-weight: bold;
    font-size: 22px;
    color: #646464;
    margin-right: 312px;
    padding-left: 15px;
}

.re-scheduleservice {
    background: #1d7a8c;
    color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
}

.cancel-cancel {
    background: #ff6b6b;
    color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
}

.dashboard-page {
    margin-top: auto;
    margin-left: -793px !important;
}
/*service details modal*/

#service-detail-modal .service-details {
    color: #646464;
    font-size: 16px;
    font-weight: bold;
}

#service-detail-modal .date-time-duration {
    font-size: 18px;
    color: #4F4F4F;
    font-weight: bold;
}

#service-detail-modal .modal-body p {
    margin-bottom: 1px !important;
}

#service-detail-modal .modal-body .service-detail-body {
    font-size: 14px !important;
    color: #646464 !important;
}

#service-detail-modal .service-detail-body .net-amount {
    color: #1d7a8c !important;
    font-size: 18px !important;
    text-align: center;
}
/*re-schedule modal*/
.reschedule-service-request {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: bold;
}

.reschedule-heading {
    color: #646464;
    font-size: 14px;
    margin-bottom: 2px !important;
    font-weight: bold;
}

.re-schedule-time select {
    width: 100%;
    border: 1px solid #ced4da;
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
}

.update {
    width: 100%;
    color: #ffff;
    background: #1d7a8c;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*cancel modal*/
.cancel-service-request {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: bold;
}

.cancel-heading {
    color: #646464;
    font-size: 14px;
    margin-bottom: 2px !important;
    font-weight: bold;
}

.modal-textarea {
    width: 100%;
    border: 1px solid #e5e5e5;
}

.cancel-now {
    width: 100%;
    color: #ffff;
    background: #1d7a8c;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*rate-sp modal*/
#rate-sp-modal .modal-body p {
    color: #646464;
    font-size: 14px;
    margin-bottom: 2px !important;
}

.rate-your-sp {
    font-size: 16px;
    font-weight: bold;
    color: #646464;
}

.submit-submit {
    background: #1d7a8c;
    color: #ffff;
    border: 1px solid #1d7a8c;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}
/*service history tab*/
.dashboard {
    max-width: 1100px;
    height: 100%;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.leftsidebar {
    min-height: 100vh;
    background-color: #1d7a8c;
}

    .leftsidebar #sh {
        background-color: #146371;
    }

#leftsidebar a {
    background-clip: padding-box;
}

.list-group-item {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 18px 15px;
    background: #1d7a8c;
    color: #FFFFFF !important;
    min-width: 260px;
}

.dashboard table {
    border: 1px solid #e1e1e1;
    margin-bottom: 0px !important;
}
    /*
#sd{
    width: 165px;
}
#cd{
    width: 270px;
}*/

    .dashboard table tr th {
        background: #f9f9f9;
        font-weight: bold;
        color: #646464;
        font-size: 16px;
        cursor: pointer;
    }

.dashboard .table td, .dashboard .table th {
    margin: 0.3rem 30px !important;
}

.t-row {
    height: 85px;
}
.dashboard-right a .addnewservicerequest {
    background: #146371; color: #ffffff; border: 1px solid #e1e1e1; border-radius: 20px; padding: 10px 10px 10px 9px; font-size: 13px; cursor: pointer; margin-bottom: 0px; margin-right: 32px;
}
.export {
    background: #146371;
    color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 5px 14px 4px 14px;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 6px;
    margin-right: 32px;
}

.sh-heading {
    font-weight: bold;
    font-size: 22px;
    color: #646464;
    margin-right: 460px;
   
}

    .sh-heading h3 {
        font-weight: bold;
    }

.dashboard table tr td {
    color: #646464;
    /*background: #f9f9f9;*/
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
}

    .dashboard table tr td p {
        margin-bottom: 8px !important;
    }

.date {
    font-weight: bold;
    color: #646464;
}

.a {
    display: flex !important;
}

.cap-icon {
    border: 1px solid #aaa;
    width: 44px;
    height: 44px;
    margin: auto;
}

.lum-watson {
    /*  width: 95px;
  height: 15px;
  margin: 27px 0 4px 12px;*/
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.euro {
    color: #1d7a8c;
    font-size: 24px;
    font-weight: bold;
}

.status-completed {
    background: #67b644;
    color: #ffffff;
    border: 1px solid #e1e1e1;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
}

.status-cancelled {
    background: #ff6b6b;
    color: #ffffff;
    border: 1px solid #e1e1e1;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
}

.rate-sp {
    background-color: #6da9b5;
    color: #ffff;
    border: none;
    padding: 11px 9px 13px 13px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.list-group-item-action:hover {
    background: #146371 !important;
    color: #f9f9f9;
}

.cancel-btn:hover {
    background-color: #FFFFFF;
    color: #FF6B6B;
    border: 1px solid #FF6B6B;
}

@media screen and (max-width:900px) {
    #rightsidebar {
        max-width: 600px;
    }
}

#sh-bottom {
    margin-right: 8px;
}

.sh-bottom {
    text-decoration: none;
    margin-right: 8px;
    padding-left: 15px;
}

    .sh-bottom a {
        color: #646464;
        text-decoration: none;
        margin-right: 8px;
        margin-top: 18px;
        font-size: 14px;
    }

    .sh-bottom select {
        border-radius: 4px;
        border: 1px solid #E1E1E1;
        margin-right: 8px;
        padding-left: 13px;
        padding-right: 11px;
        height: 38px;
        width: 62px;
        margin-top: 10px;
        line-height: 24px;
        color: #646464;
        font-size: 14px;
    }

.page {
    margin-top: auto;
    /*  margin-left: 140px;*/
    margin-left: -776px !important;
}

.page-no {
    border: 1px solid #aaa;
    width: 38px;
    height: 38px;
    /* margin:auto;*/
}

    .page-no a img {
        margin-top: 11px;
    }

    .page-no a p {
        margin-top: 10px;
        font-size: 14px;
        height: 10px;
        color: #777;
    }

.page-no1 {
    border: 1px solid #aaa;
    width: 38px;
    height: 38px;
    /* margin:auto;*/
    background-color: #1D7A8C;
}

    .page-no1 a {
        text-decoration: none !important;
        color: #ffffff;
        margin-top: 10px;
        font-size: 14px;
        height: 10px;
    }

.page-no:hover {
    background-color: #1D7A8C;
}

.page-no a p:hover {
    color: #ffffff;
}

@media screen and (max-width:1100px) {
    .page {
        margin-left: auto;
        text-align: center;
    }

    .sh-heading {
        margin-right: auto;
        max-width: auto;
    }
}

/*footer*/
footer {
    background-color: #111111;
    width: 100%;
    color: white;
    height: 195px;
}

    footer .container a {
        text-decoration: none;
        color: #F1F1F1;
        font-size: 14px;
    }

.fmenulink {
    color: #F1F1F1
}

.fmenu {
    padding-top: 20px;
    max-width: 1350px;
}

.fimg1 {
    width: 9px;
    height: 18px;
    margin-right: 20px;
}

.fimg2 {
    width: 20px;
    height: 20px;
}

.right {
    color: #737381;
    font-size: 14px;
    margin-top: 15px;
}

@media screen and (max-width:1000px) {
    .fmenulink {
        flex-direction: column;
    }
}



/*my setting code*/
/*tab code*/
/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffff;
    color: #646464;
    font-size: 14px;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background: white;
        float: left;
        border: 1px solid #ffff;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            color: #1d7a8c;
            font-weight: bold;
        }

/* Create an active/current tablink class */
.tab-button-active {
    color: #1d7a8c;
    font-weight: bold;
    border-bottom: 2px solid #1d7a8c !important;
}

/*MY setting (3tabs  contents)*/
.tabcontent {
    color: #646464;
    padding: 6px 12px;
}

    .tabcontent label {
        font-size: 12px;
    }
    /*tab-1 (my details)*/
    .tabcontent .my-detail-form {
        padding-left: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
    }

    .tabcontent .mydetail-tel-form {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        width: 79%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 6px;
    }

    .tabcontent .mydetail-tel-icon {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        text-align: center;
        width: 104%;
        background: #c8c8c8;
    }
    .tabcontent .my-detail-save-div .my-details-save-btn btn {
        color: #ffff !important;
        text-decoration: none !important;
        font-weight: bold !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 6px !important;
        padding-right: 6px !important;
        border: 1px solid #1d7a8c !important;
        border-radius: 20px !important;
        background: #1d7a8c !important;
        margin-top: 10px;
    }

    .tel-box {
        /*padding-top: 10px;
    padding-bottom: 10px;*/
        border: 1px solid #e5e5e5;
        border-radius: 4px;
    }

.tel-icon {
    width: 35px;
}
/*tab-2 (my addressses)*/
.tabcontent .my-addresses-content {
    margin-top: 10px;
}

    .tabcontent .my-addresses-content .my-addresses-text {
        padding-left: 20px !important;
        margin-top: 10px !important;
        margin-bottom: -1px !important;
        padding-right: 380px !important;
       border-bottom:1px solid #e5e5e5;
    }

    .tabcontent .my-addresses-content .address-btn {
        padding-right: 20px;
        border-bottom:1px solid #e5e5e5;
    }
        .tabcontent .my-addresses-content .address-btn .edit-btn {
            background-color:white;
            border:none;
        }
        .tabcontent .my-addresses-content .address-btn .delete-btn {
            background-color: white;
            border: none;
        }


.add-address-btn {
    width:20%;
    margin-top: 10px;
    border: 2px solid #1D7A8C;
    border-radius: 50px;
    margin-bottom: 12px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    background: #1d7a8c;
    margin-left: 15px;
}
/*tab-3(change-password)*/
.tabcontent .change-password-content{
    color:#646464;
}
    .tabcontent .change-password-content p{
        margin: 15px 0px 3px 0px;
    }
    .tabcontent .change-password-content input[type="password"] {
        width:30%;
        padding-left: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
    }
.change-password-save-btn {
    width: 10%;
    margin-top: 10px;
    border: 2px solid #1D7A8C;
    border-radius: 20px;
    margin-bottom: 12px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    background: #1d7a8c;
}
.change-password-save-btn:hover{
    color:white;
}

/* add address  */

.add-address-box {
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #F3F3F3;
    padding-bottom: 10px;
}

    .add-address-box label {
        margin-bottom: 0px;
    }

.address-taker-box {
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    flex-wrap: wrap;
    color: #646464;
}

#tel2 {
    width: 300px;
}


.address-taker-box input {
    /*    width: 300px;*/
    width: 97%;
    height: 46px;
    border: solid 1px #C8C8C8;
    color: #646464;
    padding: 10px;
    border-radius: 5px;
}

    .address-taker-box input[type="tel"] {
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 259px;
    }

.tel-icon {
    padding: 5px;
    border-right: 1px solid #C8C8C8;
    padding-top: 11px;
}

.tel-box {
    display: flex;
    border: solid 1px #C8C8C8;
    border-radius: 5px;
}

.save-btn {
    height: 42px;
    background: #1D7A8C;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.clear-btn {
    height: 42px;
    background: white;
    border: solid 1px #C8C8C8;
    color: #646464;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

