
@{
    ViewData["Title"] = "Addaddress";
}
    <div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">
        <div class="your-details" style="width:108%;">
            <p><strong> your contact details,so we can serve you in better way!</strong></p>
            <form class="address-detail">
                <div id="addresslist">
                    <div class="address d-flex  align-items-center">
                        <input type="radio" id="" name="address" />
                        <p style="margin-left:12px; margin-top: 10px; margin-bottom: 10px;"><b>Address:</b>karnavati 112, tamoz-Dirthwz 99097<br>Phone number: 9955648797</p>
                    </div>
                    <div class="address d-flex align-items-center">
                        <input type="radio" id="" name="address" />
                        <p style="margin-left:12px; margin-top: 10px; margin-bottom: 10px;"><b>Address:</b>karnavati 112, tamoz-Dirthwz 99097<br>Phone number: 9955648797</p>
                    </div>
                </div>
                <button type="button" class="btn add-btn " id="add-address-new-address-button">+ Add New Address</button>
                <!--address box code start-->
                <div class="add-address-box d-none" id="add-adress-box">
                    <div class="addAddress-error d-none alert alert-danger" role="alert">

                    </div>
                    <div class="address-taker-box d-flex" style="width:100%;">
                        <div style="width:45%;">
                            <label for="streetname">
                                Street name
                            </label>
                            <br>
                            <input type="text" name="streetname" placeholder="Street name" id="streetname"/>
                        </div>
                        <div style="width:45%;">
                            <label for="housename">
                                House number
                            </label>
                            <br>

                            <input type="text" name="housename" placeholder="House name" id="housename"/>
                        </div>
                    </div>
                    <div class="address-taker-box d-flex" style="width:100%;">
                        <div style="width:45%;">
                            <label for="postalcode">
                                Postal code
                            </label>
                            <br>
                            <input disabled type="text" name="postalcode" placeholder="Postal code" id="postalcode"/>

                        </div>
                        <div style="width:45%;">
                            <label for="city">
                                City
                            </label>
                            <br>
                            <input type="text" name="city" placeholder="City" id="city"/>
                        </div>
                    </div>
                    <div class="address-taker-box tel d-flex" style="width:50%;">
                        <div style="width:90%">
                            <label for="phonenumber">
                                Phone number
                            </label>
                            <br>
                            <div class="tel-box">
                                <span class="tel-icon">
                                    +49
                                </span>
                                <input type="tel" name="phonenumber" placeholder="Phone number" id="phonenumber"/>
                            </div>
                        </div>

                    </div>
                    <div class="Button">
                        <button class="save-btn" type="button" onclick="AddAddress()" id="add-address-save-btn">Save</button>
                        <button class="clear-btn" type="reset" onclick="clearAddress()" id="add-address-cancel-btn">Cancel</button>
                    </div>
                </div>
                <!--address box code end-->




                <p><strong> Favorite Service Providers</strong></p>
                <hr style="margin-top: 0%; margin-bottom: 8px;">
                <p>you can choose your favorite service provider from the below list.</p>
                <div class="rounded-circle d-flex  align-items-center cap-icon">
                    <img src="~/images/cap.png" alt="cap" />
                </div>
                <p style="font-weight: lighter;">Sandip Patel</p>
                <button type="button" class="btn select-btn "><a href="">Select</a></button>
            </form>
            <hr>
            <button type="button" class="btn continue-btn " id="add-address-continue">Continue</button>

        </div>
    </div>