
@{
    ViewData["Title"] = "Bookservice";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>book-service</title>
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/bootstrap.min.css" />
    <!--external css-->
    <link href="~/css/Bookservice.css" rel="stylesheet" />
    <!--JS links-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>
<body>
    <!--header code start-->
    <section id="book-service">
        <nav class="navbar navbar-expand-lg navbar-fixed-top ">
            <div class="container-fluid ">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/IMAGES/logo.png" height="28" alt="CoolBrand" />
                </a>
                <button class="navbar-toggler ddmenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/IMAGES/list.svg" alt="List" width="50px" height="50px">

                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <div class="navbar-nav text-light">
                        <a asp-controller="Bookservice" asp-action="Bookservice" class="nav-item nav-link menu menu1">Book Now</a>
                        <a asp-controller="Home" asp-action="Price" class="nav-item nav-link menu">Prices & Services</a>
                        <a href="#" class="nav-item nav-link menu">Warranty</a>
                        <a href="#" class="nav-item nav-link menu">Blog</a>
                        <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link menu">Contact</a>
                        <button class="nvbarbtn">Login</button>
                        <a asp-controller="Account" asp-action="provider" id="nvbarbtn" class="nvbarbtn">Become a Helper </a>

                        @*<button asp-action="provider" id="nvbarbtn" class="nvbarbtn">Become a Helper </button>*@
                    </div>
                </div>
            </div>
        </nav>
        <div>
            <img src="~/IMAGES/book-service-banner.jpg" class="img-fluid bg" />
        </div>
    </section>
    <!--header code end-->
    <!-- book-service heading code start-->
    <section class="book_service_heading">
        <div class="heading">
            <h1 class="text-center">Set up your cleaning service</h1>
        </div>
        <div class="d-flex star justify-content-center">
            <img src="~/IMAGES/star.png" alt="" />
        </div>
    </section>
    <!-- book-service heading code end-->
    <!--middle code start-->
    <section class="content container">
        <div class="row">
            <!--leftside code start-->
            <div class="leftside col-md-8" id="leftside">
                <!-- Classic tabs  start-->
                <div class="classic-tabs">

                    <ul class="nav " id="myClassicTabOrange" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link  waves-light tab active show" id="profile-tab-classic-orange" data-toggle="tab" onclick="Tab1Click()" href="#profile-classic-orange"
                               role="tab" aria-controls="profile-classic-orange" aria-selected="false"><img src="~/IMAGES/setup-service.png" /> Setup Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light tab" id="follow-tab-classic-orange" data-toggle="tab" onclick="Tab2Click()" href="#follow-classic-orange"
                               role="tab" aria-controls="follow-classic-orange" aria-selected="true"><img src="~/IMAGES/schedule.png" />schedule & Plan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light tab" id="contact-tab-classic-orange" data-toggle="tab" onclick="Tab3Click()" href="#contact-classic-orange"
                               role="tab" aria-controls="contact-classic-orange" aria-selected="false"><img src="~/IMAGES/details.png" /> Your Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light tab" id="awesome-tab-classic-orange" data-toggle="tab" onclick="Tab4Click()" href="#awesome-classic-orange"
                               role="tab" aria-controls="awesome-classic-orange" aria-selected="false"><img src="~/IMAGES/payment.png" /> Make Payment</a>
                        </li>
                    </ul>

                    <div class="tab-content card" id="myClassicTabContentOrange">
                        @await Html.PartialAsync("Setupservice")
                        @await Html.PartialAsync("Scheduleservice")
                        @await Html.PartialAsync("Addaddress")
                        @*<div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
                                <form class="setup-service">
                                    <label>Enter your Postal Code</label><br>
                                    <input type="text" id="postal-code" placeholder="Postal code" />
                                    <input class="check-btn button" src="#follow-tab-classic-orange" onclick="checkZipcode()" type="submit" value="Check Availibility">

                                </form>

                            </div>*@
                        @*<div class="tab-pane fade" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">
                            <div class="schedule-plan">
                                <p>Select number of rooms and bath</p>
                                <form class="rooms-bath">
                                    <select>
                                        <option selected value="1">1 bed</option>
                                        <option value="2">2 bed</option>
                                        <option value="3">3 bed</option>

                                    </select>
                                    <select>
                                        <option selected value="1">1 bath</option>
                                        <option value="2">2 bath</option>
                                        <option value="3">3 bath</option>

                                    </select>
                                </form>
                                <hr>
                            </div>
                            <div class="room-cleaner d-flex">
                                <div class="clean-time">
                                    <p>When do you need the cleaner?</p>
                                    <form class="d-flex flex-wrap">
                                        <div class="input-group me-2">
                                            <span class="input-group-text" id="basic-addon1" style="background-color: #fff; border-right: none;"> <img src="~/IMAGES/admin-calendar-blue.png" alt="calander"> </span>
                                            <input type="text" class="form-control" id="from-date" style="border-left: none;" placeholder="01/01/2018" aria-label="date" aria-describedby="basic-addon1">

                                        </div>
                                        <select>
                                            <option selected value="1">2:00PM</option>
                                            <option value="2">4:00PM</option>
                                            <option value="3">6:00PM</option>

                                        </select>
                                    </form>

                                </div>
                                <div class="clean-hour">
                                    <p>How long do you need your cleaner to stay?</p>
                                    <form class="">
                                        <select>
                                            <option selected value="1">3.0 Hrs</option>
                                            <option value="2">6.0 Hrs</option>
                                            <option value="3">9.0 Hrs</option>

                                        </select>
                                    </form>
                                </div>

                            </div>
                            <hr style="margin-top: 30px;">*@
                        <!--extra service code start-->
                        @*<div class="extra-service">
                                <div class="extra-service-heading">
                                    <p>Extra Services</p>
                                </div>
                                <div class="d-flex align-items-center justify-content-between flex-wrap service-icons">
                                    <div>
                                        <div class="rounded-circle d-flex justify-content-center align-items-center s-icon">
                                            <img src="~/IMAGES/3.png" alt="3" />
                                        </div>
                                        <div class="text-center image-heading">
                                            Incide Cabinets
                                        </div>

                                    </div>

                                    <div>
                                        <div class="rounded-circle d-flex justify-content-center align-items-center s-icon">
                                            <img src="~/IMAGES/5.png" alt="5" />
                                        </div>
                                        <div class="text-center image-heading">
                                            Incide Fridge
                                        </div>

                                    </div>

                                    <div>
                                        <div class="rounded-circle d-flex justify-content-center align-items-center s-icon">
                                            <img src="~/IMAGES/4.png" alt="4" />
                                        </div>
                                        <div class="text-center image-heading">
                                            Inside Oven
                                        </div>

                                    </div>

                                    <div>
                                        <div class="rounded-circle d-flex justify-content-center align-items-center s-icon">
                                            <img src="~/IMAGES/2.png" alt="2" />
                                        </div>
                                        <div class="text-center image-heading">
                                            Laundry wash & dry
                                        </div>

                                    </div>

                                    <div>
                                        <div class="rounded-circle d-flex justify-content-center align-items-center s-icon">
                                            <img src="~/IMAGES/1.png" alt="1" />
                                        </div>
                                        <div class="text-center image-heading">
                                            Interior windows
                                        </div>


                                    </div>

                                </div>
                                <hr style="margin-top: 30px;">
                            </div>*@
                        <!--extra service code end-->
                        @*<div class="comment">
                                    <p>Comments</p>
                                    <form class="comment-form">
                                        <textarea></textarea>
                                        <input type="checkbox" value="checkbox" required /> <label style="font-size: 13px; color: #646464;"> have pets at home</label>
                                    </form>
                                    <hr style="margin-top: 20px; size: 0.5px;">
                                    <button type="button" class="btn continue-btn "><a href="">Continue</a></button>
                                </div>
                            </div>*@
                        @*<div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">
                            <div class="your-details">
                                <p><strong> your contact details,so we can serve you in better way!</strong></p>
                                <form class="address-detail">
                                    <div class="address d-flex  align-items-center">
                                        <input type="radio" id="" name="address" />
                                        <p style="margin-left:12px; margin-top: 10px; margin-bottom: 10px;"><b>Address:</b>karnavati 112, tamoz-Dirthwz 99097<br>Phone number: 9955648797</p>
                                    </div>
                                    <div class="address d-flex align-items-center">
                                        <input type="radio" id="" name="address" />
                                        <p style="margin-left:12px; margin-top: 10px; margin-bottom: 10px;"><b>Address:</b>karnavati 112, tamoz-Dirthwz 99097<br>Phone number: 9955648797</p>
                                    </div>
                                    <button type="button" class="btn add-btn "><a href="#add-adress-box">+ Add New Address</a></button>*@
                        <!--address box code start-->
                        @*<div class="add-address-box" id="add-adress-box">
                                <div class="address-taker-box">
                                    <div>
                                        <label for="streetname">
                                            Street name
                                        </label>
                                        <br>
                                        <input type="text" name="streetname" placeholder="Street name">
                                    </div>
                                    <div>
                                        <label for="housename">
                                            House number
                                        </label>
                                        <br>

                                        <input type="text" name="housename" placeholder="House name">
                                    </div>
                                </div>
                                <div class="address-taker-box">
                                    <div>
                                        <label for="postalcode">
                                            Postal code
                                        </label>
                                        <br>
                                        <input type="text" name="postalcode" placeholder="Postal code">

                                    </div>
                                    <div>
                                        <label for="city">
                                            City
                                        </label>
                                        <br>
                                        <input type="text" name="city" placeholder="City">
                                    </div>
                                </div>
                                <div class="address-taker-box tel">
                                    <div>
                                        <label for="phonenumber">
                                            Phone number
                                        </label>
                                        <br>
                                        <div class="tel-box">
                                            <span class="tel-icon">
                                                +49
                                            </span>
                                            <input type="tel" name="phonenumber" placeholder="Phone number">
                                        </div>
                                    </div>
                                    <div id="tel2">

                                    </div>
                                </div>
                                <div class="Button">
                                    <button class="save-btn">Save</button>
                                    <button class="clear-btn">Cancel</button>
                                </div>
                            </div>*@
                        <!--address box code end-->
                        @*<p><strong> Favorite Service Providers</strong></p>
                                        <hr style="margin-top: 0%; margin-bottom: 8px;">
                                        <p>you can choose your favorite service provider from the below list.</p>
                                        <div class="rounded-circle d-flex  align-items-center cap-icon">
                                            <img src="~/images/cap.png" alt="cap" />
                                        </div>
                                        <p style="font-weight: lighter;">Sandip Patel</p>
                                        <button type="button" class="btn select-btn "><a href="">Select</a></button>
                                    </form>
                                    <hr>
                                    <button type="button" class="btn continue-btn "><a href="">Continue</a></button>

                                </div>
                            </div>*@
                        <div class="tab-pane fade" id="awesome-classic-orange" role="tabpanel" aria-labelledby="awesome-tab-classic-orange">
                            <p>Pay securely with Helperland payment gateway!</p>
                            <form class="setup-service">
                                <label style="margin-bottom: 0;">Promo Code (optional)</label><br>
                                <input type="text" id="postal-code" placeholder="Promo Code (optional)" />
                                <input class="apply-btn button" type="submit" value="Apply">
                                <hr>
                                <div class="card-number">
                                    
                                        <input type="text" placeholder="Card number" required />
                                   
                                </div>
                                <hr>
                                <div class="policy d-flex">
                                    <input type="checkbox" id="" required />
                                    <p>
                                        I accepted terms and Conditions. the cancellation policy and Privacy policy, I confirm the Helperland start to execute
                                        the contract before the expiry of the withdrawal period and I lose my right of withdrawal as a consumer with full performance of the contract.
                                    </p>
                                </div>
                                <hr>
                            </form>
                            <button type="button" class="btn complete-btn "><a href="">Complete Booking</a></button>

                        </div>
                    </div>

                </div>
                <!-- Classic tabs  end-->

            </div>
            <!--leftside code end-->
            <!--rightside code start-->

            <div class="rightside col-md-4" id="rightside">
                <!--card code start-->
                <div class="card P-summary">
                    <div class="p-heading">
                        <p>Payment Summary</p>
                    </div>
                    <div class="date-time">
                        <p>01/01/2018 4:00 pm</p>
                        <p>1 bed,1 bath</p>
                    </div>
                    <div class="duration">
                        <h6>Duration</h6>
                        <div class="d-flex justify-content-between duration-title">
                            <div>
                                <p>Basic</p>
                                <p>Inside cabinets (extra)</p>
                            </div>
                            <div style="text-align:right">
                                <p>3 Hrs</p>
                                <p>30 Mins</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <hr / class="line">
                        </div>
                        <div class="d-flex justify-content-between duration-total">
                            <p>Total Service Time</p>
                            <p style="text-align:right">3.5 Hrs</p>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between duration-title">
                            <div>
                                <p>Per cleaning</p>
                                <p>Discount</p>
                            </div>
                            <div style="text-align:right; font-weight:bold;">
                                <p>$87</p>
                                <p>-$27</p>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between duration-payment">

                            <p class="total-payment">Total Payment</p>
                            <p class="total" style="text-align:right">$63</p>
                        </div>
                        <div class="d-flex justify-content-between duration-title">
                            <p>Effective Price</p>
                            <p style="text-align:right; font-weight:bold; font-size:15px;">$50.04</p>
                        </div>
                        <p class="duration-title">You will save 20% according to 35a EStG.</p>
                        <div class="smiley">
                            <p> <img src="~/IMAGES/smiley.png" /> See what is always included</p>
                        </div>
                    </div>
                </div>
                <!--card code end-->
                <!--question code start-->
                <div class="question">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="fcstm" role="tabpanel" aria-labelledby="forcustom">

                            <div class="accordion" id="accordionone">
                                <div class="accordion_item">
                                    <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse" data-bs-target="#fc_2">
                                        Which Helperland professional will come to my place?
                                    </h2>
                                    <div id="fc_2" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="accordion_item">
                                    <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse" data-bs-target="#fc_3">
                                        Which Helperland professional will come to my place?
                                    </h2>
                                    <div id="fc_3" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="accordion_item">
                                    <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse" data-bs-target="#fc_4">
                                        Which Helperland professional will come to my place?

                                    </h2>
                                    <div id="fc_4" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="accordion_item">
                                    <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse" data-bs-target="#fc_5">
                                        Which Helperland professional will come to my place?

                                    </h2>
                                    <div id="fc_5" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="accordion_item">
                                    <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse" data-bs-target="#fc_6">
                                        Which Helperland professional will come to my place?

                                    </h2>
                                    <div id="fc_6" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="help">
                                    <p>For more help</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!--question code end-->

            </div>
            <!--rightside code end-->
        </div>
    </section>
    <!--middle code end-->
    <!-- buttons code start -->
    @*<section>
            <h2 class="text-center newsletter">
                GET OUR NEWSLETTER
            </h2>
            <form class="text-center customer-email ">
                <div class="form-group newletter-input">
                    <input type="email" id="email" class="form-control" placeholder="Your Email" />
                    <button type="button" id="" class="btn submit">Submit</button>
                </div>
            </form>
        </section>*@

    <!-- buttons code end -->
    <!--footer code start-->
    @*<footer>
            <div class="container d-flex justify-content-between align-items-center fmenu">
                <img width="100px" src="IMAGES/price/logo.png" alt="" />
                <div class="d-flex flex-wrap text-center justify-content-center fmenulink">
                    <a class="px-3" href="homepage.html">HOME</a>
                    <a class="px-3" href="about.html">ABOUT</a>
                    <a class="px-3" href="#">TESTIMONIALS</a>
                    <a class="px-3" href="faq.html">FAQS</a>
                    <a class="px-3" href="#">INSURRANCE POLICY</a>
                    <a class="px-3" href="#">IMPRESSUM</a>
                </div>
                <div>
                    <img class="img-fluid fimg1" src="IMAGES/price/ic-facebook.png" />
                    <img class="img-fluid fimg2" src="IMAGES/price/ic-instagram.png" />
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center text-center" style="margin-top:10px">
                <hr style="border-bottom: 1px solid grey; width: 88%" />
            </div>

            <p class="text-center right">
                ©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy
            </p>
        </footer>*@
    <!--footer code end-->
    <!--jquery code start-->
    <script>
        // tab code start
        $(document).ready(function () {
            $('#profile-tab-classic-orange').click(function () {
                $('#awesome-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#contact-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#follow-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $(this).css({
                    "background-color": "#1d7a8c",
                    "color": "#ffff"
                });
            });
        });
        $(document).ready(function () {
            $('#follow-tab-classic-orange').click(function () {
                $('#profile-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#awesome-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#contact-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $(this).css({
                    "background-color": "#1d7a8c",
                    "color": "#ffff"
                });
            });
        });
        $(document).ready(function () {
            $('#contact-tab-classic-orange').click(function () {
                $('#profile-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#follow-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#awesome-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $(this).css({
                    "background-color": "#1d7a8c",
                    "color": "#ffff"
                });
            });
        });
        $(document).ready(function () {
            $('#awesome-tab-classic-orange').click(function () {
                $('#profile-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#follow-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $('#contact-tab-classic-orange').css({
                    "background-color": "#f4f5f8",
                    "color": "#646464"
                });
                $(this).css({
                    "background-color": "#1d7a8c",
                    "color": "#ffff"
                });
            });
        });
        $(document).ready(function () {
            $('.check-btn').click(function () {
                $('#follow-tab-classic-orange').show(slow)
            });
        });
        //tab code end
        $(document).ready(function () {
            $('.add-btn').click(function () {
                $('.add-address-box').show(slow)
            });
        });
    </script>
    <!--jquery code end-->
    <!-- bootstrap js cdn  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/bookServiceScript.js"></script>
    <!--JS code-->
    @*<script>
        function checkZipcode() {
            $("#postalcode").val($("#postal-code").val());
            var zip = $("#postalform");
            var jsonInput = zip.serialize();
            $.ajax(
                {
                    type: 'POST',
                    url: '/Bookservice/IsValidZipcode',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: jsonInput,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                form2();
                            } else {
                                alert("fails");
                            }
                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });
        }
        function getServiceDetails() {
            var servicedetails = $("#Scheduleservice");
            var jsonInput = servicedetails.serialize();
            $.ajax(
                {
                    type: 'POST',
                    url: '/Bookservice/getScheduleServiceDetails',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: jsonInput,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                form3();
                            } else {
                                alert("fails");
                            }
                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });
        }
        function getAddress() {
            $.ajax(
                {
                    type: 'GET',
                    url: '/Bookservice/getAddressDetails',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success:
                        function (response) {
                            console.log(response);
                            var AddressList = $("#addresslist");
                            AddressList.empty();
                            for (var i = 0; i < response.length; i++) {
                                if (response[i].isDefault == true) {
                                    AddressList.append('<div class="address-check-box"><div><input type="radio" name="address1" id="addressId' + response[i].id + '"' + 'value ="' + response[i].id + '"' + 'checked /></div><div><p><strong>Address: </strong>' + response[i].addressLine2 + ', ' + response[i].addressLine1 + ', ' + response[i].city + ', ' + response[i].postalCode + '</p > <p><strong>Phone number: </strong>' + response[i].mobile + '</p> </div > </div > ')
                                } else {
                                    AddressList.append('<div class="address-check-box"><div><input type="radio" name="address1" id="addressId' + response[i].id + '"' + 'value ="' + response[i].id + '"' + '/></div><div><p><strong>Address: </strong>' + response[i].addressLine2 + ', ' + response[i].addressLine1 + ', ' + response[i].city + ', ' + response[i].postalCode + '</p > <p><strong>Phone number: </strong>' + response[i].mobile + '</p> </div > </div > ')
                                }

                            }
                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });
        }
        function clearAddress() {
            $("#streetname").val("");
            $("#housename").val("");
            $("#city").val("");
            $("#phonenumber").val("");
            document.getElementsByClassName("add-address-box")[0].style.display =
                "none";
            add_address_btn.style.display = "block";
        }

        function AddAddress() {
            var addData = {};
            addData.AddressLine2 = $("#streetname").val();
            addData.AddressLine1 = $("#housename").val();
            addData.postalcode = $("#postalcode").val();
            addData.city = $("#city").val();
            addData.mobile = $("#phonenumber").val();
            console.log(addData);

            $.ajax(
                {
                    type: 'POST',
                    url: '/Bookservice/addAddress',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: addData,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                getAddress();
                                clearAddress()
                            } else {
                                alert("fails");
                            }
                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });
        }
        function payDone() {
            $.ajax(
                {
                    type: 'POST',
                    url: '/Bookservice/addAddress',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: addData,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                getAddress();
                                clearAddress()
                            } else {
                                alert("fails");
                            }
                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });
        }
    </script>*@



    <!--------------------------------------------------------------------------->
<script type="text/javascript">
        var globalVar = "Global to Booking page";
        function Tab1Click() {
            $("#profile-tab-classic-orange").addClass("active-tab");
            $("#follow-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("#contact-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("#awesome-tab-classic-orange").removeClass("active-tab").addClass("tab");

            $("#follow-classic-orange").hide();
            $("#contact-classic-orange").hide();
            $("#awesome-classic-orange").hide();
            $("#profile-classic-orange").show();
        }
        function Tab2Click() {
            $("#follow-tab-classic-orange").addClass("active-tab");
            $("#profile-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("#contact-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("#awesome-tab-classic-orange").removeClass("active-tab").addClass("tab");

            $("#profile-classic-orange").hide();
            $("#contact-classic-orange").hide();
            $("#awesome-classic-orange").hide();
            $("#follow-classic-orange").show();
        }
        function Tab3Click() {
            $("#contact-tab-classic-orange").addClass("active-tab");
            $("#profile-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("##follow-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("#awesome-tab-classic-orange").removeClass("active-tab").addClass("tab");

            $("#profile-classic-orange").hide();
            $("#follow-classic-orange").hide();
            $("#awesome-classic-orange").hide();
            $("#contact-classic-orange").show();
            $("#divAddress").html("Loading Address view...")
            .load('@Url.Action("GetAddress", "BookServiceRequest")');
        }
        function Tab4Click() {
            $("#awesome-tab-classic-orange").addClass("active-tab");
            $("#profile-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("#follow-tab-classic-orange").removeClass("active-tab").addClass("tab");
            $("#contact-tab-classic-orange").removeClass("active-tab").addClass("tab");

            $("#profile-classic-orange").hide();
            $("#follow-classic-orange").hide();
            $("#contact-classic-orange").hide();
            $("#awesome-classic-orange").show();
        }
        function SearchZipCode() {
            $("#follow-tab-classic-orange").addClass("active");
            $("#profile-tab-classic-orange").removeClass("active").addClass("tab");
            $("#profile-classic-orange").hide();
            $("#follow-classic-orange").show();
        }





</script>









    <!-- javascript code start-->
    <script src="~/Javascript/bootstrap.bundle.min.js"></script>
    <script src="~/Javascript/main.js"></script>
    <!--javasrcipt code end-->

</body>
</html>
