@*@model IEnumerable<Helperland.Models.ViewModels.CustomerServiceNewRequest>*@
@{
    ViewData["Title"] = "Service_history";

}
@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap Icon CDN Links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- External CSS File -->
    <link href="~/css/Service_history.css" rel="stylesheet" />
    <!--JS links-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <title>Service_history</title>

</head>

<body>
    <!--navbar code start-->
    <header>
        <nav class="navbar navbar-expand-lg" style="margin-bottom:0px;">
            <div class="container-fluid">

                <a asp-controller="Home" asp-action="Index" class="navbar-brand" style="padding-top:2px;">
                    <img src="~/IMAGES/white-logo-transparent-background.png" height="28" alt="CoolBrand">
                </a>
                <button class="navbar-toggler ddmenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/IMAGES/list.svg" alt="list" />
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse" style="float:right; padding-left:0px;">
                    <div class="navbar-nav text-light justify-content-end" style="float:right;">
                        <a asp-controller="Bookservice" asp-action="Bookservice" class="nav-item nav-link menu" id="book-now">Book now</a>
                        <a asp-controller="Home" asp-action="Price" class="nav-item nav-link menu">Prices &amp; services</a>
                        <a class="nav-item nav-link menu">Warranty</a>
                        <a href="#" class="nav-item nav-link menu">Blog</a>
                        <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link menu">Contact</a>
                        <div class="vr"></div>
                        <a href="#" class="nav-item nav-link">
                            <img class="notification-bell" src="~/IMAGES/notification-bell.png" alt="notification">
                            <span class="notification-no">2</span>
                        </a>
                        <div class="vrline" style="margin-left: 7px;"></div>
                        <div class="btn-group user_menu">
                            <button class="btn" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                <img src="~/IMAGES/user.png" alt="user">

                                <img src="~/IMAGES/down-arrow-white.png" alt="down-arrow-white">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                                <li class="dropdown-item">Welcome,<br /> <span class="customer-name"><b> @Context.Session.GetString("Name")&nbsp;!</b> </span></li>
                                <hr />
                                <li><a class="dropdown-item" asp-controller="Bookservice" asp-action="Service_history">My Dashboard</a></li>
                                <li><a class="dropdown-item" id="my-setting-dropdown">My Settings</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" onclick="LogOut()">Logout</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <!--navbar code end-->
    <!--welcome-Gaurang code start-->
    <section class="welcome-Gaurang">
        <div class="container">
            <h2 class="text-center">
                Welcome, <span><b> @Context.Session.GetString("Name")&nbsp;! </b></span>
            </h2>
        </div>
    </section>

    <!--welcome-Gaurang code end-->
    <!--middle code start-->
    <section>
        <div class="container d-flex dashboard" id="dashboard">
            <!--leftside content code start-->
            <style>
                .list-group-item-action:active {
                    background-color: #1d7a8c !important;
                }
            </style>
            <div id="#leftsidebar" class="leftsidebar">
                <a class="list-group-item list-group-item-action" id="dashboard-tab">Dashboard</a>
                <a href="#rightside" class="list-group-item list-group-item-action" id="service-history-tab">Service History</a>
                <a href="#" class="list-group-item list-group-item-action" id="service-schedule-tab">Service Schedule</a>
                <a href="#" class="list-group-item list-group-item-action" id="favourite-pro-tab">Favourite Pros</a>
                <a href="#" class="list-group-item list-group-item-action" id="invoices-tab">Invoices</a>
                <a href="#" class="list-group-item list-group-item-action" id="notification-tab">Notifications</a>
            </div>
            <!--leftside content code end-->
            <!--rightside content code start-->
            <!--Dashboard code start-->
            <div class="dashboard-right" id="rightside-dashboard">
                <div class=" container-fluid d-flex justify-content-between">
                    <h3 class="db-heading">Current Service Requests</h3>
                    <a asp-controller="Bookservice" asp-action="Bookservice" style="margin-bottam:0%; padding-bottom:0px; padding-top:10px;">
                        <input class="addnewservicerequest" style=" background: #146371; color: #ffffff; border: 1px solid #e1e1e1; border-radius: 20px; padding: 10px 10px 10px 9px; font-size: 13px; cursor: pointer; margin-bottom: 0px; margin-right: 32px;" id="add-new-service-request" type="button" value="Add New Service Request">
                    </a>
                </div>
                <div class="container-fluid row">
                    <div class="col">
                        <table id="content-table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Service Id <img src="~/IMAGES/up-down-sort.png">
                                    </th>
                                    <th id="sd" class="text-center">
                                        Service Date <img src="~/IMAGES/up-down-sort.png">
                                    </th>
                                    <th id="cd" class="text-center">
                                        Service Provider <img src="~/IMAGES/up-down-sort.png">
                                    </th>
                                    <th class="text-center">
                                        Payment
                                    </th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-none">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <!--1st row start-->
                                @*<tr class="t-row">

                                        <td data-target="#service-detail-modal" data-toggle="modal ">8465</td>
                                        <td data-target="#service-detail-modal" data-toggle="modal">
                                            <p class="date">
                                                <img src="~/IMAGES/calendar2.png">31/03/2018
                                            </p>
                                            <p>
                                                <img src="~/IMAGES/time.png" /> 12:00 - 18:00
                                            </p>
                                        </td>
                                        <td data-target="#service-detail-modal" data-toggle="modal">


                                            <div class="a flex-wrap">
                                                <div class="rounded-circle d-flex justify-content-center align-items-center cap-icon">
                                                    <img src="~/IMAGES/cap.png">

                                                </div>
                                                <div>

                                                    <p class="lum-watson">
                                                        Lyum Watson
                                                    </p>
                                                    <p>
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-grey.png">
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-target="#service-detail-modal" data-toggle="modal">
                                            <p class="euro d-flex justify-content-center">
                                                &euro; 63
                                            </p>
                                        </td>

                                        <td>
                                            <input class="re-scheduleservice" data-target="#re-schedule-modal" data-toggle="modal" type="button" value="Reschedule">
                                            <input class="cancel-cancel" data-target="#cancel-modal" data-toggle="modal" type="button" value="Cancel">
                                        </td>
                                    </tr>*@
                                <!--1st row end-->
                                <!--2nd row start-->
                                @*<tr class="t-row">

                                        <td data-target="#service-detail-modal" data-toggle="modal">8466</td>
                                        <td data-target="#service-detail-modal" data-toggle="modal">
                                            <p class="date">
                                                <img src="~/IMAGES/calendar2.png"> 31/03/2018
                                            </p>
                                            <p>
                                                <img src="~/IMAGES/time.png" /> 12:00 - 18:00
                                            </p>
                                        </td>
                                        <td data-target="#service-detail-modal" data-toggle="modal">


                                            <div class="a flex-wrap">
                                                <div class="rounded-circle d-flex justify-content-center align-items-center cap-icon">
                                                    <img src="~/IMAGES/cap.png">

                                                </div>
                                                <div>

                                                    <p class="lum-watson">
                                                        Lyum Watson
                                                    </p>
                                                    <p>
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-yellow.png">
                                                        <img src="~/IMAGES/star-grey.png">
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-target="#service-detail-modal" data-toggle="modal">
                                            <p class="euro d-flex justify-content-center">
                                                &euro; 63
                                            </p>
                                        </td>

                                        <td>
                                            <input class="re-scheduleservice" type="button" data-target="#re-schedule-modal" data-toggle="modal" value="Reschedule">
                                            <input class="cancel-cancel" type="button" data-target="#cancel-modal" data-toggle="modal" value="Cancel">
                                        </td>
                                    </tr>*@
                                <!--2nd row end-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container-fluid row d-flex flex-wrap">
                    <div class="sh-bottom  d-flex flex-wrap justify-content-start" id="sh-bottom">
                        <a href="#" class="justify-content-center align-items-center mt-">Show</a>
                        <select>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>

                        </select>

                        <a href="#">entries</a>
                        <a href="#">Total Record: 55</a>
                    </div>
                    <div class="d-flex flex-wrap justify-content-end dashboard-page">
                        <a href="#" class=""><img src="~/IMAGES/first-page.png" /></a>
                        <a href="#" class=""><img src="~/IMAGES/left-arrow-black.png" /></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>1</p></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>2</p></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>3</p></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>4</p></a>
                        <a href="#" class=""><img src="~/IMAGES/right-arrow-black.png" /></a>
                        <a href="#" class=""><img src="~/IMAGES/last-page.png" /></a>
                    </div>

                </div>
            </div>

            <!--service details modal code start-->

            <input class="d-none" data-target="#service-detail-modal" data-toggle="modal" type="button" id="dashboard-service-details-a-tag">
            <div class="modal fade" id="service-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: none;">
                            <h5 class="modal-title service-details" id="exampleModal2Label">Service Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">
                            <div class="service-detail-body">
                                <p class="date-time-duration" id="serviceRequestDateTime">05/10/2021 8:00-11:30</p>
                                <p><b>Duration:</b><span id="serviceRequestDuration"> 3.5 Hrs</span></p>
                                <hr />
                                <p><b>Service Id:</b><span id="ServiceRequestId">8425</span></p>
                                <p id="serviceExtra"><b>extras:</b> Inside cabinets</p>
                                <p id="serviceExtra1" class="d-none"><b>extras:</b> Inside cabinets</p>
                                <p id="serviceExtra2" class="d-none"><b>extras:</b> Inside fridge</p>
                                <p id="serviceExtra3" class="d-none"><b>extras:</b> Inside oven</p>
                                <p id="serviceExtra4" class="d-none"><b>extras:</b> Laundry Wash & Dry</p>
                                <p id="serviceExtra5" class="d-none"><b>extras:</b> interior Windows</p>
                                <p><b>Net amount:</b> <span class="net-amount" id="net-amount">87,50 &euro;</span></p>
                                <hr />
                                <p><b>Service Address:</b><span id="serviceRequestAddress">Monghibai Road Vile Parle</span> </p>
                                <p><b>Billing Address:</b> Same as Cleaning AAddress</p>
                                <p><b>Phone: </b><span id="ServiceRequestPhone">+91 9898989898</span></p>
                                <p><b>Email:</b><span id="ServiceRequestEmail">patel218@mail.com</span> </p>
                                <hr />
                                <p><b>Comments</b></p>
                                <p>
                                    I don't have pets at home
                                </p>
                                <hr />
                                <div id="service-request-modal-btns-div">
                                    <button class="btn re-scheduleservice" data-dismiss="modal" data-target="#re-schedule-modal" data-toggle="modal" type="button"><span class="glyphicon glyphicon-repeat"></span>Reschedule</button>
                                    <button class="btn cancel-cancel" data-dismiss="modal" data-target="#cancel-modal" data-toggle="modal" type="button"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
                                </div>

                            </div>
                            <div class="service-request-provider-box d-none">
                                <h5 class="login-title">Service Provider Details</h5>

                                <div class="service-provider-average-rating">
                                    <div>
                                        <img class="cap-icon1" src="/IMAGES/cap.png" alt="cap">

                                    </div>
                                    <div>
                                        <div><span id="ServiceProviderName">Lyum Watson</span></div>
                                        <div class="d-flex align-items-center">
                                            <div class="average-rating summaryrating">
                                                <span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span>
                                            </div>
                                            <div style="padding-top: 4px; padding-left: 3px">
                                                <span id="ServiceProviderRating">5</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <p><span id="SerivceProviderCleaning">0</span> cleaning</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--service details modal code end-->
            <!--re-schedule modal code start-->
            <input class="re-scheduleservice d-none" data-target="#re-schedule-modal" data-toggle="modal" type="button" id="reschedule-modal-open-button">
            <div class="modal fade" id="re-schedule-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title reschedule-service-request" id="exampleModal2Label">Reschedule Service Request</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post">

                                <div class="form-group ">
                                    <input type="hidden" id="rescheduleID" name="rescheduleID" />
                                    <p class="reschedule-heading">Select New date & Time</p>
                                    <div class="d-flex" style="">
                                        <div class="form-group me-2 d-flex" style="width:47%;">
                                            <span class="input-group-text" id="basic-addon1" style="background-color: #fff; border-right: none; margin-right:-3px !important;"> <img src="~/IMAGES/admin-calendar-blue.png" alt="calander"> </span>
                                            <input type="date" class="form-control" id="schedule-service-date" style="border-left: none;" placeholder="01/01/2018 " aria-label="date" aria-describedby="basic-addon1" required />
                                        </div>
                                        <div class="re-schedule-time" style="width:47%; color:#646464;">
                                            <select id="re-schedule-time" style="color:#646464" required>
                                                <option selected value="2:00">2:00</option>
                                                <option value="4:00">4:00</option>
                                                <option value="6:00">6:00</option>
                                                <option value="8:00">8:00</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="update rounded-pill m-auto d-flex align-items-center justify-content-center" id="service-request-update-btn" type="submit" data-dismiss="modal">
                                    Update
                                </button>
                            </form>
                        </div>


                    </div>

                </div>
            </div>

            <!--re-schedule modal code end-->
            <!--cancel modal code start-->
            <input class="cancel-hidden-input d-none" data-target="#cancel-modal" data-toggle="modal" type="button" id="cancel-modal-open-button">
            <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title cancel-service-request" id="exampleModal2Label">Cancel Service Request</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                <div class="form-group ">
                                    <input type="hidden" id="cancelId" name="cacnelID" />
                                    <p class="cancel-heading">Why you want to cancel the service request?</p>
                                    <textarea class="modal-textarea" id="cancel-modal-textarea" style="color:#646464;" required></textarea>
                                </div>
                                <button class="cancel-now rounded-pill m-auto d-flex align-items-center justify-content-center" id="cancel-now-btn" type="button" data-dismiss="modal">
                                    Cancel Now
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--cancel modal code end-->
            <!--Dashboard code end-->
            <!-- JS code -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
            </script>


            <script>
                $(document).ready(function () {
                    $("#service-detail-modal").modal();
                    $("#re-schedule-modal").modal();
                    $("#cancel-modal").modal();
                });
            </script>


            @if (TempData["SuccessMessage"] != null)
            {
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        alert("mail not found");
                    });
                </script>
            }

            @if (TempData["SuccessMsg"] != null)
            {
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        alert("mail has sent successfully!");
                    });
                </script>
            }


            <!--service history code start-->
            <div class="col d-none" id="rightside">
                <div class=" container-fluid d-flex justify-content-between">
                    <h3 class="sh-heading">Service History</h3>
                    <input class="export " style="margin-right: 32px;" type="button" value="Export" onclick="ExportToExcel('xlsx')">
                </div>

                <div class="container-fluid row" id="rightsidebar">
                    <div class="col">
                        <table id="content2-table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Service Details <img src="~/IMAGES/up-down-sort.png">
                                    </th>
                                    <th id="sd">
                                        Service Provider <img src="~/IMAGES/up-down-sort.png">
                                    </th>
                                    <th id="cd">
                                        Payment <img src="~/IMAGES/up-down-sort.png">
                                    </th>
                                    <th>
                                        Status <img src="~/IMAGES/up-down-sort.png">
                                    </th>
                                    <th>Rate SP</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-none">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="container-fluid row d-flex flex-wrap">
                    <div class="sh-bottom  d-flex flex-wrap justify-content-start" id="sh-bottom">
                        <a href="#" class="justify-content-center align-items-center mt-">Show</a>
                        <select>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>

                        </select>

                        <a href="#">entries</a>
                        <a href="#">Total Record: 55</a>
                    </div>
                    <div class="d-flex flex-wrap justify-content-end page">
                        <a href="#" class=""><img src="~/IMAGES/first-page.png" /></a>
                        <a href="#" class=""><img src="~/IMAGES/left-arrow-black.png" /></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>1</p></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>2</p></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>3</p></a>
                        <a href="#rightside" class="" style="text-decoration:none;"><p>4</p></a>
                        <a href="#" class=""><img src="~/IMAGES/right-arrow-black.png" /></a>
                        <a href="#" class=""><img src="~/IMAGES/last-page.png" /></a>
                    </div>

                </div>
            </div>

            <!--rate-sp modal code start-->
            <input class="rate-sp d-none" data-target="#rate-sp-modal" data-toggle="modal" type="button" id="rate-sp-modal-open-button">
            <div class="modal fade" id="rate-sp-modal">
                <div class="modal-dialog">
                    <div class="modal-content">


                        <div class="modal-header" style="border-bottom:none;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="rate-sp-modal-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:-10%">
                                <div class="col-2">
                                    <img src="~/IMAGES/cap.png" alt="cap" class="cap-icon-modal" />
                                </div>
                                <div class="col-10">
                                    <span id="rating-provider-name-modal" class="provider-name">drashti patel</span>
                                    <span>
                                        <div class="d-flex" id=" avrage-star">

                                            <span class="text-warning" style="font-size: 30px;">★</span>

                                                <span class="text-warning" style="font-size: 30px;">★</span>

                                                <span class="text-warning" style="font-size: 30px;">★</span>

                                                <span class="text-warning" style="font-size: 30px;">★</span>

                                                <span class="text-warning" style="font-size: 30px;">★</span>

                                            <span class="" style="color:#646464; font-weight:bold;" id="ratesp-modal-average-ratings">1</span>
                                        </div>
                                    </span>
                                </div>

                            </div>
                            <hr style="color:#646464;" />
                            <h5 class="rate-your-sp">Rate your service provider</h5>
                            <hr style="color:#646464; height:0.5px;" />
                            <div class="row">
                                <div class="col-auto">
                                    <p>On time arriaval</p>
                                    <p>Friendly</p>
                                    <p>Quality of service</p>
                                </div>
                                <div class="col">
                                    <div class="d-flex">
                                        <div>
                                            <label>
                                                <span class="text-warning rating " id="on-time-arrival-star-1">★</span>
                                                <input type="radio" name="on-time-arrival-radio" class="d-none" id="on-time-arrival-radio-1" value="1">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="on-time-arrival-star-2">☆</span>
                                                <input type="radio" name="on-time-arrival-radio" class="d-none" id="on-time-arrival-radio-2" value="2">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="on-time-arrival-star-3">☆</span>
                                                <input type="radio" name="on-time-arrival-radio" class="d-none" id="on-time-arrival-radio-3" value="3">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="on-time-arrival-star-4">☆</span>
                                                <input type="radio" name="on-time-arrival-radio" class="d-none" id="on-time-arrival-radio-4" value="4">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="on-time-arrival-star-5">☆</span>
                                                <input type="radio" name="on-time-arrival-radio" class="d-none" id="on-time-arrival-radio-5" value="5">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="friendly-star-1">★</span>
                                                <input type="radio" name="friendly-radio" class="d-none" id="friendly-radio-1" value="1">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="friendly-star-2">☆</span>
                                                <input type="radio" name="friendly-radio" class="d-none" id="friendly-radio-2" value="2">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="friendly-star-3">☆</span>
                                                <input type="radio" name="friendly-radio" class="d-none" id="friendly-radio-3" value="3">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="friendly-star-4">☆</span>
                                                <input type="radio" name="friendly-radio" class="d-none" id="friendly-radio-4" value="4">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="friendly-star-5">☆</span>
                                                <input type="radio" name="friendly-radio" class="d-none" id="friendly-radio-5" value="5">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="quality-of-service-star-1">★</span>
                                                <input type="radio" name="quality-of-service-radio" class="d-none" id="quality-of-service-radio-1" value="1">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="quality-of-service-star-2">☆</span>
                                                <input type="radio" name="quality-of-service-radio" class="d-none" id="quality-of-service-radio-2" value="2">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="quality-of-service-star-3">☆</span>
                                                <input type="radio" name="quality-of-service-radio" class="d-none" id="quality-of-service-radio-3" value="3">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="quality-of-service-star-4">☆</span>
                                                <input type="radio" name="quality-of-service-radio" class="d-none" id="quality-of-service-radio-4" value="4">
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <span class="text-warning rating" id="quality-of-service-star-5">☆</span>
                                                <input type="radio" name="quality-of-service-radio" class="d-none" id="quality-of-service-radio-5" value="5">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group pass-error">
                                <p class="rate-your-sp">Feedback on service provider</p>
                                <textarea class="modal-textarea" id="rate-sp-modal-comments" style="color:#646464;"></textarea>
                                <span></span>
                                <input hidden type="number" id="rate-sp-service-id">
                                <input hidden type="number" id="rate-sp-service-provider-id">
                            </div>
                            <button class="submit-submit rounded-pill d-flex " type="submit" data-dismiss="modal" id="rate-sp-submit-btn">
                                Submit
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <!--rate-sp modal code end-->
            <!--service history code end-->
            <div class="d-none contant-right" id="service-schedule-tab-rightside">
                <h1 style="color:#646464; font-weight:bold; font-size:46px;"> Service Schedule</h1>
            </div>
            <!--favorite-pro code start-->

            <div class="d-none" id="favourite-pro-tab-rightside">
                <table id="mytable5">
                    <tbody>
                        <tr class="block">
                            <td>
                                <div><img class="cap-icon cap-upgrade" src="~/IMAGES/cap.png" alt="cap"></div>
                            </td>
                            <td>
                                <div class="block-icon">
                                    <p>Drshti patel</p>
                                </div>
                            </td>
                            <td>
                                <button class="remove-btn">Remove</button>
                                <button class="block-btn">Block</button>
                            </td>
                        </tr>
                        <tr class="block">
                            <td>
                                <div><img class="cap-icon cap-upgrade" src="~/IMAGES/cap.png" alt="cap"></div>
                            </td>
                            <td>
                                <div class="block-icon">
                                    <p>Darshna patel</p>
                                </div>
                            </td>
                            <td>
                                <button class="remove-btn">Remove</button>
                                <button class="block-btn">Block</button>
                            </td>
                        </tr>
                        <tr class="block">
                            <td>
                                <div><img class="cap-icon cap-upgrade" src="~/IMAGES/cap.png" alt="cap"></div>
                            </td>
                            <td>
                                <div class="block-icon">
                                    <p>Darshna </p>
                                </div>
                            </td>
                            <td>
                                <button class="remove-btn">Remove</button>
                                <button class="block-btn">Block</button>
                            </td>
                        </tr>
                        <tr class="block">
                            <td>
                                <div><img class="cap-icon cap-upgrade" src="~/IMAGES/cap.png" alt="cap"></div>
                            </td>
                            <td>
                                <div class="block-icon">
                                    <p>DK patel</p>
                                </div>
                            </td>
                            <td>
                                <button class="remove-btn">Remove</button>
                                <button class="block-btn">Block</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--favorite-pro code end-->
            <div class="d-none" id="invoices-tab-rightside">
                <h1 style="color:#646464; font-weight:bold; font-size:46px;"> Invoices</h1>
            </div>
            <div class="d-none" id="notifications-tab-rightside">
                <h1 style="color:#646464; font-weight:bold; font-size:46px;"> Notifications</h1>
            </div>



            <!--my setting code start-->
            <div class="col d-none" id="my-setting-tabs">
                <!-- Tab links -->
                <div class="tab" id="">
                    <button class="tablinks tab-button-active" onclick="mydetails()" id="my-details-tab">My Details</button>
                    <button class="tablinks" onclick="myaddresses()" id="my-addresses-tab">My Addressess</button>
                    <button class="tablinks" onclick="changepassword()" id="change-password-tab">Change Password</button>

                </div>


                <div id="my-details" class="tabcontent  ">
                    <div class="row " style="margin-top:10px;">
                        <div class="col-md-3">
                            <label>Firstname</label><br />
                            <input class="my-detail-form " type="text" placeholder="Firstname" id="my-details-fname" />
                            <span></span>
                        </div>
                        <div class="col-md-3">
                            <label>Lastname</label><br />
                            <input class="my-detail-form" type="text" placeholder="Lastname" id="my-details-lname" />
                            <span></span>
                        </div>

                        <div class="col-md-3">
                            <label>E-mail address</label><br />
                            <input disabled class="my-detail-form" type="email" placeholder="Email" id="my-details-email" />

                        </div>
                    </div>

                    <div class="row " style="margin-top:10px;">
                        <div class="col-md-3">
                            <label>Mobile number</label><br />
                            @*<p class="d-flex tel-box">*@
                            <span class="mydetail-tel-icon" style="padding-top:8px !important; width: 35px;">
                                +49
                            </span>
                            <input class="mydetail-tel-form" type="tel" placeholder="Phone number" id="my-details-contact-number" />

                            <span></span>
                        </div>
                        <div class="col-md-3" style="padding-right:10px;">
                            <label>Date of Birth</label><br />
                            <select class="my-detail-form" style="width:25%;">
                                <option selected value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            <select class="my-detail-form" style="width:40%;">
                                <option selected value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="Aug">Aug</option>
                                <option value="Sep">Sep</option>
                                <option value="Oct">Oct</option>
                                <option value="Nov">Nov</option>
                                <option value="Dec">Dec</option>
                            </select>
                            <select class="my-detail-form" style="width:30%;">
                                <option selected value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>


                            </select>
                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <label>My Preferred Language</label><br />
                            <select class="my-detail-form">
                                <option selected value="English">English</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Gujrati">Gujrati</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 my-detail-save-div">
                            <button class="my-details-save-btn btn" id="my-detail-save-btn"
                                    style=" color: #ffff !important;
                                            text-decoration: none !important;
                                            font-weight: bold !important;
                                            padding-top: 8px !important;
                                            padding-bottom: 8px !important;
                                            padding-left: 12px !important;
                                            padding-right: 12px !important;
                                            border: 1px solid #1d7a8c !important;
                                            border-radius: 18px !important;
                                            background: #1d7a8c !important;
                                            margin-top: 10px;
                                        ">
                                Save
                            </button>
                        </div>
                    </div>

                </div>



                <div id="my-addresses" class="tabcontent d-none">
                    <div class="row my-addresses-content">
                        <div class="col">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="padding-left: 20px; padding-top:10px; padding-bottom:10px; border-bottom: 1px solid #e5e5e5;">Addresses</th>
                                        <th style="border-bottom: 1px solid #e5e5e5;">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="UserAddressList">


                                    <tr>
                                        <td>
                                            <p class="my-addresses-text">
                                                <b>Address:</b>karnavati 112, tamoz-Dirthwz 99097<br><b>Phone number:</b> 9955648797
                                            </p>
                                        </td>
                                        <td class="address-btn">
                                            <div class="d-flex">
                                                <button type="button" class="btn edit-btn" data-toggle="modal" data-target="#edit-adddress-modal"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn delete-btn" data-toggle="modal" data-target="#delete-address-modal"><i class="far fa-trash-alt"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn add-address-btn " data-toggle="modal" data-target="add-adress-box" id="add-address-new-address-button">Add New Address</button>
                        <!--address box code start-->
                        <div class="add-address-box d-none" id="add-adress-box">

                            <div class="address-taker-box d-flex" style="width:100%;">
                                <div style="width:45%;">
                                    <label for="streetname">
                                        Street name
                                    </label>
                                    <br>
                                    <input type="text" name="streetname" placeholder="Street name" id="streetname" />
                                </div>
                                <div style="width:45%;">
                                    <label for="housename">
                                        House number
                                    </label>
                                    <br>

                                    <input type="text" name="housename" placeholder="House name" id="housename" />
                                </div>
                            </div>
                            <div class="address-taker-box d-flex" style="width:100%;">
                                <div style="width:45%;">
                                    <label for="postalcode">
                                        Postal code
                                    </label>
                                    <br>
                                    <input type="text" name="postalcode" placeholder="Postal code" id="postalcode" />

                                </div>
                                <div style="width:45%;">
                                    <label for="city">
                                        City
                                    </label>
                                    <br>
                                    <input type="text" name="city" placeholder="City" id="city" />
                                </div>
                            </div>
                            <div class="address-taker-box tel d-flex" style="width:50%;">
                                <div style="width:90%">
                                    <label for="phonenumber">
                                        Phone number
                                    </label>
                                    <br>
                                    <div class="tel-box">
                                        <span class="tel-icon">
                                            +49
                                        </span>
                                        <input type="tel" name="phonenumber" placeholder="Phone number" style="width:290px;" id="phonenumber" />
                                    </div>
                                </div>

                            </div>
                            <div class="Button">
                                <button class="save-btn" type="button" onclick="UserAddAddress()" id="setting-add-address-save-btn">Save</button>
                                <button class="clear-btn" type="reset" onclick="clearAddress()" id="setting-add-address-cancel-btn">Cancel</button>
                            </div>
                        </div>
                        <!--address box code end-->
                    </div>
                </div>

                <div id="change-password" class="tabcontent  d-none">
                    <div class="change-password-content">
                        <input type="hidden" id="sp-stored-password" name="storedpassword" />
                        <div class="pass-error">
                            <p><b>Old Password</b></p>
                            <input type="password" class="form-control" placeholder="Current Passowrd" id="current-password" />
                            <span></span>
                        </div>
                        <div class="pass-error">
                            <p><b>New Password</b></p>
                            <input type="password" class="form-control" placeholder="Password" id="password" />
                            <span></span>
                        </div>
                        <div class="pass-error">
                            <p><b>Confirm Password</b></p>
                            <input type="password" class="form-control" placeholder=" Confirm Password" id="confirm-password" />
                            <span></span>
                        </div>
                        <br />
                        <button type="submit" class="btn change-password-save-btn " id="change-password-save-btn">Save</button>
                    </div>
                </div>
            </div>
            <!--my setting code end-->
        </div>

        <!--edit address modal code start-->
        <input class=" d-none" data-target="#edit-adddress-modal" data-toggle="modal" type="button" id="edit-address-modal-open">
        <div class="modal fade" id="edit-adddress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title cancel-service-request" id="exampleModal2Label">Cancel Service Request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="add-address-box" id="add-adress-box-modal">
                            <input type="hidden" id="addressid" name="addressid" />
                            <div class="address-taker-box d-flex" style="width:100%;">
                                <div style="width:45%;">
                                    <label for="streetname">
                                        Street name
                                    </label>
                                    <br>
                                    <input type="text" name="streetname" placeholder="Street name" id="streetname-modal" />
                                </div>
                                <div style="width:45%;">
                                    <label for="housename">
                                        House number
                                    </label>
                                    <br>

                                    <input type="text" name="housename" placeholder="House number" id="housename-modal" />
                                </div>
                            </div>
                            <div class="address-taker-box d-flex" style="width:100%;">
                                <div style="width:45%;">
                                    <label for="postalcode">
                                        Postal code
                                    </label>
                                    <br>
                                    <input disabled type="text" name="postalcode" placeholder="Postal code" id="postalcode-modal" />

                                </div>
                                <div style="width:45%;">
                                    <label for="city">
                                        City
                                    </label>
                                    <br>
                                    <input type="text" name="city" placeholder="City" id="city-modal" />
                                </div>
                            </div>
                            <div class="address-taker-box tel d-flex" style="width:50%;">
                                <div style="width:90%">
                                    <label for="phonenumber">
                                        Phone number
                                    </label>
                                    <br>
                                    <div class="tel-box">
                                        <span class="tel-icon">
                                            +49
                                        </span>
                                        <input type="tel" name="phonenumber" placeholder="Phone number" id="phonenumber-modal" width="154px" />
                                    </div>
                                </div>

                            </div>
                            <div class="Button">
                                <button class="save-btn" type="submit" id="edit-address-save-btn-modal" data-dismiss="modal">Save</button>
                                <button class="clear-btn" type="reset" id="edit-address-cancel-btn-modal" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--edit address modal code end-->
        <!--delete address modal code start-->
        <input class="cancel-hidden-input d-none" data-target="#delete-address-modal" data-toggle="modal" type="button" id="delete-address-modal-open-button">
        <div class="modal fade" id="delete-address-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title cancel-service-request" id="exampleModal2Label">Cancel Service Request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-group ">
                                <input type="hidden" id="deleteId" name="deleteId" />
                                <p class="cancel-heading">Are you sure delete this address?</p>
                                @*<textarea class="modal-textarea" id="cancel-modal-textarea" style="color:#646464;" required></textarea>*@
                            </div>
                            <button class="cancel-now rounded-pill m-auto d-flex align-items-center justify-content-center" id="remove-now-btn" type="button" data-dismiss="modal" style="font-size:16px;">
                                <b>Delete</b>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--delete address modal code end-->
        <!--rightside content code end-->
    </section>

    <!--middle code end-->
    <!-- javascript code start-->
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="~/Javascript/Service_history.js"></script>
    <script src="~/Javascript/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

    <script src="~/Javascript/main.js"></script>
    <!-- javascript code end-->

</body>
</html>


