@model Helperland.Models.Setupservice
@{
    ViewData["Title"] = "Setupservice";

}
    <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
            <form id="postalform" class="setup-service" asp-controller="Bookservice" asp-action="Bookservice" method="post">
                <label>Enter your Postal Code</label><br>
                <input type="text" id="postal-code" name="postal-code" asp-for="PostalCode"   placeholder="Postal code" />
                <input class="check-btn button" type="button" onclick="SearchZipCode();" value="Check Availibility">
            </form>

        </div>

