
@{
    ViewData["Title"] = "Admin";
    Layout = "";

}
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>book-service</title>
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--external css-->

    <link href="~/css/Admin.css" rel="stylesheet" />
    <!--JS links-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @*<link rel="stylesheet" href="../fonts/css/all.css">*@


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <title>Admin</title>
</head>
<body>
    <!--navbar code start-->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    helperland
                </a>
                <button class="navbar-toggler ddmenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="navbar-toggler-icon" src="~/IMAGES/list.svg" alt="list" />
                </button>
                <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
                    <div class="navbar-nav text-light">
                        <div class="btn-group user_menu">
                            <button class="btn" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                <img src="~/IMAGES/user.png" alt="user">
                            </button>
                        </div>

                        <a class="nav-item nav-link menu"><b style="color:white;">@Context.Session.GetString("Name")</b></a>

                        <div class="btn-group user_menu" style="background-color:#1fb6ff; border:1px solid #1fb6ff !important;">
                            <a class="btn" type="button" id="defaultDropdown" asp-controller="Home" asp-action="Index" onclick="LogOut()" style="background-color:#1fb6ff; border:1px solid #1fb6ff !important;" >
                                <img src="~/IMAGES/logout.png" alt="logout" style="background-color:#1fb6ff;">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <!--navbar code end-->
    <!--middle section code start-->
    <section id="contant">
        <!--leftside content code start-->
        <div id="leftsidebar">
            <ul>
                <li><a href="#" class="left-contant">Service Management</a></li>
                <li><a href="#" class="left-contant">Role Management</a></li>
                <li><a href="#" class="left-contant">Coupon Code Management</a></li>
                <li><a href="#" class="left-contant">Escalation Management</a></li>
                <li><a href="#" class="left-contant active-class" id="tab1" onclick="tab1()"> Service Requests</a></li>
                <li><a href="#" class="left-contant">Service Providers</a></li>
                <li><a href="#" class="left-contant" id="tab2" onclick="tab2()">User Management</a></li>
                <li><a href="#" class="left-contant">Finance Module</a></li>
                <li><a href="#" class="left-contant">Zip Code Management</a></li>
                <li><a href="#" class="left-contant">Rating Management</a></li>
                <li><a href="#" class="left-contant">Inquiry Management</a></li>
                <li><a href="#" class="left-contant">Newsletter Management</a></li>
                <li><a href="#" class="left-contant">Content Management</a></li>

            </ul>
        </div>
        <!--leftside content code end-->
        <!--rightside content code start-->


        @await Html.PartialAsync("AdminServicehistory")
        @await Html.PartialAsync("AdminUserManagement")

        <!--copyright code start-->
        @*<div class="footer">
                ©2018 Helperland. All rights reserved.
            </div>*@
        <!--copyright code end-->
        <!--rightside content code end-->

    </section>
    <!--middle section code end-->
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/Javascript/Admin.js"></script>
    <script src="~/Javascript/bootstrap.bundle.min.js"></script>
    <script src="~/Javascript/main.js"></script>
</body>
</html>

