
@{
    ViewData["Title"] = "SPBlockcustomer";
}


<div id="sp-blockcustomer" class="contant-right ">
    <table id="mytable5">
        <tbody>
            <tr class="block">
                <td>
                    <div><img class="cap-icon cap-upgrade" src="~/IMAGES/cap.png" alt="cap"></div>
                </td>
                <td>
                    <div class="block-icon">
                        <input type="hidden" id=" blockId" name="blockID"/>
                        <p>Drshti patel</p>
                    </div>
                </td>
                <td>
                    <button class="block-btn" id="block-customer-btn">Block</button>
                </td>
            </tr>
            @*<tr class="block">
                <td>
                    <div><img class="cap-icon cap-upgrade" src="~/IMAGES/cap.png" alt="cap"></div>
                </td>
                <td>
                    <div class="block-icon">
                        <p>Darshna patel</p>
                    </div>
                </td>
                <td>
                    <button class="block-btn">Block</button>
                </td>
            </tr>*@
           
            
        </tbody>
    </table>
</div>

