
@{
    ViewData["Title"] = "SPMyrating";
}

<div class="container-fluid row d-none" id="sp-myrating">
    <div class="col">
        <div class=" container-fluid d-flex justify-content-between">
            <div class="d-flex payment-status">
                <span class="sh-heading">Payment Status</span><select><option selected>All</option></select>
            </div>
            <div>
                <span class="sh-heading">Sorting</span><img src="~/IMAGES/sort_descending_icon_151089.png"  width="20px"/>
            </div>
        </div>
        <table id="service-history-table" class="table table-hover">

            <tbody>

                <tr>
                    <td>
                        323436 <br /> <b>Gaurang patel</b>
                    </td>
                    <td>
                        <p class="date">
                            <img src="~/IMAGES/calendar2.png"> 09/04/2018
                        </p>
                        <p>
                            <img src="~/IMAGES/time.png"> 12:00 - 18:00
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>Ratings</b>
                        </p>

                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <b>Customer Comment</b>
                    </td>
                </tr>

            </tbody>
            <tbody>

                <tr>
                    <td>
                        323436 <br /> <b>Gaurang patel</b>
                    </td>
                    <td>
                        <p class="date">
                            <img src="~/IMAGES/calendar2.png"> 09/04/2018
                        </p>
                        <p>
                            <img src="~/IMAGES/time.png"> 12:00 - 18:00
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>Ratings</b>
                        </p>

                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <b>Customer Comment</b>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>

