
@{
    ViewData["Title"] = "SPMyratings";
}

    <div class="container-fluid row d-none" id="sp-myrating">
        <div class="col">
            <div class="d-flex payment-status">
                <span class="sh-heading">Payment Status</span>
                <select>
                    <option selected>25km</option>
                    <option>35km</option>
                    <option>45km</option>
                </select>
            </div>
            <table id="my-ratings-table" class="table table-hover">
                <thead>
                    <tr>
                        <th width=""> Service ID </th>
                        <th width="">  Service date </th>
                        <th>Rating</th>
                        
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
