
@{
    ViewData["Title"] = "SPServiceschedule";
}
    <div class="d-none" id="sp-serviceschedule">
        <h6 style="color:brown;">SPServiceschedule</h6>
        <div id="app-calendar"></div>
    </div>

<

