
@{
    ViewData["Title"] = "SPServicehistory";
}
<!--row-table code start-->
    <div class="container-fluid row d-none" id="sp-servicehistory">
      
        <div class="col">
            <div class=" container-fluid d-flex justify-content-between">
                <div class="d-flex payment-status">
                    <span class="sh-heading">Payment Status</span><select><option selected>All</option></select>
                </div>
                <div>
                    <input class="service-history-export-btn"  type="button" value="Export" onclick="ExportToExcel('xlsx')">
                </div>
            </div>
            <table id="service-history-table" class="table table-hover">
                <thead>
                    <tr>
                        <th width="33%"> Service ID <img src="~/IMAGES/up-down-sort.png"></th>
                        <th width="33%">  Service date </th>
                        <th width="33%"> Customer details</th>

                    </tr>
                </thead>
                <tbody>
                    <!--1st row start-->
                    <tr>
                        <td>
                            323436
                        </td>
                        <td>
                            <p class="date">
                                <img src="~/IMAGES/calendar2.png"> 09/04/2018
                            </p>
                            <p>
                                <img src="~/IMAGES/time.png"> 12:00 - 18:00
                            </p>
                        </td>
                        <td>
                            <p>
                                David Bough
                            </p>
                            <p>
                                <img src="~/IMAGES/home.png"> Musterstrabe 5,12345 Bonn
                            </p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
<!--row-table code end-->
<!-- row details modal code start-->
<input class="row-detail-hidden-input d-none" data-target="#service-history-row-detail-modal"" data-toggle="modal" type="button" id="service-history-row-detail-modal-open-button">
<div class="modal fade" id="service-history-row-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="margin-top:16px;">
                <h5 class="modal-title service-detail-body " id="exampleModal2Label">Service Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" d-flex service-detail-leftside" style="width:100%">
                    <div style="width:50%">
                        <p class="date-time-duration" id="servicehistoryDateTime">05/10/2021 8:00-11:30</p>
                        <p><b>Duration:</b><span id="servicehistoryDuration"> 3.5 Hrs</span></p>
                        <hr />
                        <p><b>Service Id:</b><span id="servicehistoryId">8425</span></p>
                        <p id="serviceExtra"><b>Extras:</b> Inside cabinets</p>
                        <p id="serviceExtra1" class="d-none"><b>Extras:</b> Inside cabinets</p>
                        <p id="serviceExtra2" class="d-none"><b>Extras:</b> Inside fridge</p>
                        <p id="serviceExtra3" class="d-none"><b>Extras:</b> Inside oven</p>
                        <p id="serviceExtra4" class="d-none"><b>Extras:</b> Laundry Wash & Dry</p>
                        <p id="serviceExtra5" class="d-none"><b>Extras:</b> interior Windows</p>
                        <p><b>Total Payment:</b> <span class="total-payment" id="history-total-payment">87,50 &euro;</span></p>
                        <hr />
                        <p><b>Customer Name:</b><span id="servicehistoryname">Gaurang patel</span> </p>
                        <p><b>Service Address:</b><span id="servicehistoryAddress">Monghibai Road Vile Parle</span> </p>

                        <p><b>Distance: </b><span id="nservicehistoryDistance">45km</span></p>

                        <hr />
                        <p><b>Comments</b></p>
                        <p>
                            I don't have pets at home
                        </p>
                        <hr />
                        <div id="upcoming-service-request-modal-btns-div">
                            <button class="btn service-history-ok-btn" data-dismiss="modal" type="button"><span class="glyphicon glyphicon-ok"></span>Ok</button>
                        </div>

                    </div>
                    <div style="width:50%">
                        <iframe width="233" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                src="https://www.openstreetmap.org/export/embed.html?bbox=72.48727798461915%2C23.032188951217627%2C72.52744674682619%2C23.05979267762741&amp;layer=mapnik"></iframe>
                        <br />
                        <small><a href="https://www.openstreetmap.org/#map=15/23.0460/72.5074">View Larger Map</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- row details modal code end-->
