
@{
    ViewData["Title"] = "SPUpcomingservice";
}
<!--row  table code start-->
<div class="container-fluid row d-none" id="rightsidebar">
    <div class="col">
        <table id="upcoming-service-table" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Service ID <img src="~/IMAGES/up-down-sort.png">
                    </th>
                    <th>
                        Service date <img src="~/IMAGES/up-down-sort.png">
                    </th>
                    <th>
                        Customer details <img src="~/IMAGES/up-down-sort.png">
                    </th>
                    <th>Payment</th>
                    <th>
                        Distance <img src="~/IMAGES/up-down-sort.png">
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!--1st row start-->
                <tr>
                    <td>
                        323436
                    </td>
                    <td>
                        <p class="date">
                            <img src="~/IMAGES/calendar2.png"> 09/04/2018
                        </p>
                        <p>
                            <img src="~/IMAGES/time.png"> 12:00 - 18:00
                        </p>
                    </td>
                    <td>
                        <p>
                            David Bough
                        </p>
                        <p>
                            <img src="~/IMAGES/home.png"> Musterstrabe 5,12345 Bonn
                        </p>
                    </td>
                    <td>
                        &euro; 50
                    </td>
                    <td>
                        15 km
                    </td>
                    <td>
                        <input class="cancel-btn" type="button" value="Cancel " data-target="#cancel-modal" data-toggle="modal">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!--row  table code end-->
<!-- row details modal code start-->
<input class="row-detail-hidden-input d-none" data-target="#upcoming-service-request-row-detail-modal" data-toggle="modal" type="button" id="upcoming-service-request-row-detail-modal-open-button">
<div class="modal fade" id="upcoming-service-request-row-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="margin-top:16px;">
                <h5 class="modal-title service-detail-body " id="exampleModal2Label">Service Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" d-flex service-detail-leftside" style="width:100%">
                    <div style="width:50%">
                        <p class="date-time-duration" id="upcomingserviceRequestDateTime">05/10/2021 8:00-11:30</p>
                        <p><b>Duration:</b><span id="upcomingserviceRequestDuration"> 3.5 Hrs</span></p>
                        <hr />
                        <p><b>Service Id:</b><span id="upcomingServiceRequestId">8425</span></p>
                        <p id="serviceExtra"><b>Extras:</b> Inside cabinets</p>
                        <p id="serviceExtra1" class="d-none"><b>Extras:</b> Inside cabinets</p>
                        <p id="serviceExtra2" class="d-none"><b>Extras:</b> Inside fridge</p>
                        <p id="serviceExtra3" class="d-none"><b>Extras:</b> Inside oven</p>
                        <p id="serviceExtra4" class="d-none"><b>Extras:</b> Laundry Wash & Dry</p>
                        <p id="serviceExtra5" class="d-none"><b>Extras:</b> interior Windows</p>
                        <p><b>Total Payment:</b> <span class="total-payment" id="upcoming-total-payment">87,50 &euro;</span></p>
                        <hr />
                        <p><b>Customer Name:</b><span id="upcomingserviceRequestname">Gaurang patel</span> </p>
                        <p><b>Service Address:</b><span id="upcomingserviceRequestAddress">Monghibai Road Vile Parle</span> </p>

                        <p><b>Distance: </b><span id="upcomingServiceRequestPhone">45km</span></p>

                        <hr />
                        <p><b>Comments</b></p>
                        <p>
                            I don't have pets at home
                        </p>
                        <hr />
                        <div id="upcoming-service-request-modal-btns-div">
                            <button class="btn upcoming-cancel-btn" data-dismiss="modal" type="button" data-target="#cancel-modal" data-toggle="modal"  id="service-detail-modal-cancel-btn"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
                            <button class="btn upcoming-complete-btn" data-dismiss="modal" type="button" data-target="#complete-modal" data-toggle="modal" ><span class="glyphicon glyphicon-ok"></span>Complete</button>
                        </div>
                    </div>
                    <div style="width:50%">
                        <iframe width="233" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                src="https://www.openstreetmap.org/export/embed.html?bbox=72.48727798461915%2C23.032188951217627%2C72.52744674682619%2C23.05979267762741&amp;layer=mapnik"></iframe>
                        <br />
                        <small><a href="https://www.openstreetmap.org/#map=15/23.0460/72.5074">View Larger Map</a></small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- row details modal code end-->
<!--cancel modal code start-->
<input class="cancel-hidden-input d-none" data-target="#cancel-modal" data-toggle="modal" type="button" id="cancel-modal-open-button">
<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title accept-service-request" id="exampleModal2Label">Cancel Service Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group ">
                        <input type="hidden" id="cancelId" name="cancelID" />
                        <p class="accept-heading">Why you want to cancel the service request?</p>
                        <textarea class="modal-textarea" id="cancel-modal-textarea" style="color:#646464;" required></textarea>
                    </div>
                    <button class="cancel-btn rounded-pill m-auto d-flex align-items-center justify-content-center" style="width:100%" id="cancel-modal-btn" type="button" data-dismiss="modal">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--cancel modal code end-->
<!--complete modal code start-->
<input class="complete-hidden-input d-none" data-target="#complete-modal" data-toggle="modal" type="button" id="complete-modal-open-button">
<div class="modal fade" id="complete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title accept-service-request" id="exampleModal2Label">Complete Service Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group ">
                        <input type="hidden" id="completeId" name="completeID" />
                        <p class="accept-heading">Have you Complete the Service Request?</p>
                        <textarea class="modal-textarea" id="complete-modal-textarea" style="color:#646464;" value="Completed"></textarea>
                    </div>
                    <button class="upcoming-complete-btn rounded-pill m-auto d-flex align-items-center justify-content-center" id="complete-modal-btn" type="button" data-dismiss="modal" style="width:100%;">
                        Complete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--complete modal code end-->
