@{
    ViewData["Title"] = "Upcoming_service";
}
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap Icon CDN Links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- External CSS File -->
    <link href="~/css/Upcoming_service.css" rel="stylesheet" />
    <!--JS links-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>upcoming_service</title>
</head>
<body>
    <header>
        <!--navbar code start-->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/IMAGES/white-logo-transparent-background.png" height="28" alt="CoolBrand">
                </a>
                <button class="navbar-toggler ddmenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/IMAGES/list.svg" alt="list" />
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <div class="navbar-nav text-light">
                        <a asp-controller="Home" asp-action="Price" class="nav-item nav-link menu">Prices &amp; services</a>
                        <a href="#" class="nav-item nav-link menu">Warranty</a>
                        <a href="#" class="nav-item nav-link menu">Blog</a>
                        <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link menu">Contact</a>
                        <div class="vr"></div>
                        <a href="#" class="nav-item nav-link">
                            <img class="notification-bell" src="~/IMAGES/notification-bell.png" alt="notification">
                            <span class="notification-no">2</span>
                        </a>
                        <div class="vrline" style="margin-left: 7px;"></div>
                        <div class="btn-group user_menu">
                            <button class="btn" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" style="padding-right:45px;">
                                <img src="~/IMAGES/user.png" alt="user">

                                <img src="~/IMAGES/down-arrow-white.png" alt="down-arrow-white">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                                <li class="dropdown-item">Welcome,<br /> <span class="customer-name"><b>@Context.Session.GetString("Name")</b></span></li>
                                <hr />
                                <li><a class="dropdown-item" onclick="tab1()">My Dashboard</a></li>
                                <li><a class="dropdown-item" onclick="mysetting()">My Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <!--navbar code end-->
    <!--welcome-sandip code start-->
    <section class="welcome-sandip ">
        <div class="container">
            <h2 class="text-center">
                Welcome, <span><b> @Context.Session.GetString("Name")</b></span> !
            </h2>
        </div>
    </section>

    <!--welcome-sandip code end-->
    <!--middle code start-->
    <section>
        <div class="container d-flex dashboard" id="dashboard">
            <!--leftside content code start-->
            <div id="#leftsidebar" class="leftsidebar">
                <a href="#" class="list-group-item list-group-item-action" onclick="tab1()">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action" onclick="tab2()">New Service Requests</a>
                <a href="#" class="list-group-item list-group-item-action" onclick="tab3()">Upcoming Services</a>
                <a href="#" class="list-group-item list-group-item-action" onclick="tab4()">Service Schedule</a>
                <a href="#" class="list-group-item list-group-item-action" onclick="tab5()">Service History</a>
                <a href="#" class="list-group-item list-group-item-action" onclick="tab6()">My Ratings</a>
                <a href="#" class="list-group-item list-group-item-action" onclick="tab7()">Block Customer</a>
                <a href="#" class="list-group-item list-group-item-action">Invoices</a>
                <a href="#" class="list-group-item list-group-item-action">Notifications</a>
            </div>
            <!--leftside content code end-->
            <!--rightside content code start-->

            @await Html.PartialAsync("SPDashboard")
            @await Html.PartialAsync("SPNewservicerequest")
            @await Html.PartialAsync("SPUpcomingservice")
            @await Html.PartialAsync("SPServiceschedule")
            @await Html.PartialAsync("SPServicehistory")
            @await Html.PartialAsync("SPMyratings")
            @await Html.PartialAsync("SPBlockcustomer")
            @await Html.PartialAsync("SPMysettings")

            <!--rightside content code end-->
        </div>
    </section>

    <!--middle code end-->
    <!--Javascipt links-->
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/Javascript/Serviceprovider.js"></script>
    <script src="~/Javascript/bootstrap.bundle.min.js"></script>
    <script src="~/Javascript/main.js"></script>
</body>
</html>
